.arrow {
    width: 100px;
}

#characterImage, #characterImageOutfit, #finalizedCharacter{
    width: 200px;
}

button {
    padding: 0.5em 5em;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 15px;
    background-color: palevioletred;
    border-color: mediumvioletred;
}

button:hover {
    background-color: mediumvioletred;
    border-color: darkmagenta;
    padding: 0.55em 5.05em;
}

#dice {
    width: 70px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-image: url(./images/page1.jpg); /* bron:https://nl.pinterest.com/pin/838584393144678356/*/
    background-size: cover;
}

.playButtonStart, .divCharacter, .secondDivCharacterOutfits {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    background-color: antiquewhite;
    padding: 40px;
    border-radius: 25px;
}

.bedroomCharacter {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
}

.header1, .header2 {
    color: black;
    font-size: 24px; 
    margin-bottom: 20px;
    text-align: center; 
}

.hide {
    display: none;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }